# Project: Predict Movie Box Office


Data for this case:   
        
        moviebuzz.csv

In [83]:
# Data Imports
import numpy as np
import pandas as pd

# Plot imports
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')
%matplotlib inline

# Machine Learning Imports
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split

# For evaluating our ML results
from sklearn import metrics

## Exploratory Data Analysis (EDA)
    
Let us go ahead and take a look at the dataset

In [84]:
df = pd.read_csv('moviebuzz.csv')

In [85]:
df.head()

,Box,Rating,Budget,StarPower,Sequel,Action,Comedy,Animated,Horror,Fandango,HSX,Movie
0,63106589.0,2,150.0,42.51,1,0,0,1,0,0.79,143.03,Madagascar 2
1,69637740.0,3,37.0,16.75,0,0,0,0,0,0.77,128.01,Twilight
2,67528882.0,3,200.0,28.08,1,1,0,0,0,0.76,163.91,Quantum of Solace
3,70950500.0,3,85.0,16.62,1,1,0,0,0,0.71,105.91,Fast and Furious
4,14851136.0,3,55.0,23.61,0,0,0,0,0,0.70,84.16,Seven Pounds

### Exercise 1. Visualize the data

Reminder: our target is to predict box office.

In [94]:
# Your code
plt.scatter()

#label
plt.ylabel('Y')
plt.xlabel('X')
plt.show()

TypeError: scatter() missing 2 required positional arguments: 'x' and 'y'

  
 
# Prepare dataset

In [87]:
X = df.drop(['Box', 'Movie'], axis = 1)

X.head()

,Rating,Budget,StarPower,Sequel,Action,Comedy,Animated,Horror,Fandango,HSX
0,2,150.0,42.51,1,0,0,1,0,0.79,143.03
1,3,37.0,16.75,0,0,0,0,0,0.77,128.01
2,3,200.0,28.08,1,1,0,0,0,0.76,163.91
3,3,85.0,16.62,1,1,0,0,0,0.71,105.91
4,3,55.0,23.61,0,0,0,0,0,0.70,84.16

In [88]:
Y = df['Box']

Y.head()

0    63106589.0
1    69637740.0
2    67528882.0
3    70950500.0
4    14851136.0
Name: Box, dtype: float64

# Using scikit learn to implement a multivariate linear regression

Hint: https://github.com/MIS6300-2017Fall/python-machine-learning/blob/master/1.1%20-%20Linear%20Regression%20Example%20(short%20version).ipynb

### Exercise 2. Implement a multivariate linear regression

You need to:

1. Split the data into training/testing sets
2. Create linear regression object
3. Train the model using the training sets
4. Make predictions using the testing set
5. Report coefficients, mean squared error(MSE) and variance score(R-square).

In [89]:
# Your code
X_train, X_test, Y_train, Y_test = train_test_split(X,Y)

In [90]:
lreg = LinearRegression()

In [91]:
lreg.fit(X_train, Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [92]:
pred_test = lreg.predict(X_test)

In [93]:
coeff_df = pd.DataFrame(X.columns)
coeff_df.columns = ['Features']

# Set a new column lining up the coefficients from the linear regression
coeff_df["Coefficient Estimate"] = pd.Series(lreg.coef_)

# Show coefficients
print(coeff_df)

# The mean squared error
print("\nMean squared error: %.2f"
      % mean_squared_error(Y_test, pred_test))

# Explained variance score: 1 is perfect prediction
print('Variance score: %.2f' % r2_score(Y_test, pred_test))

    Features  Coefficient Estimate
0     Rating          1.503685e+06
1     Budget          3.146465e+04
2  StarPower         -7.015831e+04
3     Sequel          1.097193e+07
4     Action         -7.719079e+06
5     Comedy         -1.605637e+05
6   Animated         -7.913059e+05
7     Horror          6.702701e+06
8   Fandango          1.536077e+07
9        HSX          2.707931e+05

Mean squared error: 115997121307344.58
Variance score: 0.73